/* Navbar Styles */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoimage {
    width: 60px;
    height: 50px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #40025a;
    color: white;

}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
}

.burger div {
    background-color: white;
    height: 3px;
    width: 100%;
}